* {
    font-family: Metropolis, Arial, sans-serif !important;
}

.display-none {
    display: none;
}

.icon-list li::before {
    display: block;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5rem;
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}

body {

    background-color: #F2F6F5 !important;
}

.header-border-color {

    border-color: #E9EDEC;
}

.simple-heading-bg {

    background-color: #1E7062;

}

.purchase-color {

    color: #1e7063;

}

.p-style {

    font-family: Poppins, sans-serif !important;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
    font-size: 16px !important;
}

.inside-head {
    color: #F4F8F7 !important;
    font-weight: bold;
    font-size: 15px !important;
    letter-spacing: 0.5px;


}

.bg-add {

    background-color: #1E7062 !important;
}

#total-container {
    position: relative;



}

/* #grand_total {
    position: absolute;
    height: 53px;
    padding-top: 7px;
    font-size: 19px;
    font-weight: bold;
    padding-right: 46px;
    text-align: center;

  }
  #total-lable {
    position: relative;
    color: #fff;
    left: 29px;
    top: 12px;
    font-size: 19px !important;
    line-height: 30px;
    letter-spacing: 1px;


  } */
.productImage {

    width: 300px !important;

}
#productImage {

    width: 300px !important;

}

#productImage1 {

    width: 300px !important;

}

#productImage2 {

    width: 300px !important;

}

.filepond--item {
    width: calc(50% - 0.5em);
}

.filepond--credits {
    display: none;
}

.input-border {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #E9EDEC
}

.total {
    background-color: #1e7063;
    color: #fff;
    outline: none;
}

.contact-color {

    color: 206C5F;
}

#paypal {
    display: none;
}

#cheque {
    display: none;
}

.lookAtMe {
    display: flex !important;
}

.noDisplay {
    display: none !important;
}

input,
textarea,
button {
    outline: none;
}

.button-bg {

    background-color: #206C5F;

}

.button-bg:hover {

    background-color: #206C5F !important;

}

.print-border {

    background-color: gray;

}

.black-color {
    color: black !important;
}

.background-blue {
    background-color: #EAF2FA;
}

.background-white {

    background-color: #fff !important;



}

input[type="file" i] {
    /* appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important; */

    cursor: pointer !important;
    display: block !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.total-left {

    text-align: right;
    margin-top: 7px;
    width: 50%;

}

.total-right {
    background-color: #1e7063;
    color: #fff;
    border: none;
    font-weight: bold;
    text-align: left;
    padding-left: 2px;
    padding-top: 7px;

}

.total-right:focus {
    color: #fff;
    background-color: #1e7063;
    ;
    border-color: none;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

@media only screen and (min-width: 240px) and (max-width: 319px) {
    .button-column {
        justify-content: center !important;


    }

    /* #grand_total {
  position: absolute;
  height: 53px;
  padding-top: 7px;
  font-size: 19px;
  font-weight: bold;
  padding-right: 59px;
  text-align: right;
}
#total-lable {
  position: relative;
  color: #fff;
  left: 6px;
  top: 12px;
  font-size: 19px !important;
  line-height: 30px;
  letter-spacing: 1px;
} */
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .button-column {
        justify-content: center !important;


    }

    /* #grand_total {
      position: absolute;
      height: 53px;

      padding-top: 7px;
      font-size: 19px;
      font-weight: bold;

      padding-right: 59px;
      text-align: right;
    }
    #total-lable {
      position: relative;
      color: #fff;
      left: 6px;
      top: 12px;
      font-size: 19px !important;
      line-height: 30px;
      letter-spacing: 1px;
  } */

}

@media only screen and (min-width: 360px) and (max-width: 479px) {
    .row {
        /* padding: 0 10px; */
    }

    h2 {
        margin: 7px;
    }

    p {
        margin: 0 10px;
    }

    button,
    input,
    optgroup,
    select,
    textarea {

        margin-top: 10px;
    }

    .button-column {
        justify-content: center !important;


    }

    #grand_total {
        margin-top: 0 !important;

    }

    /* #grand_total {
        position: absolute;
        height: 53px;
        padding-top: 7px;
        font-size: 19px;
        font-weight: bold;
        padding-right: 59px;
        text-align: right;
      }
      #total-lable {
        position: relative;
        color: #fff;
        left: 6px;
        top: 12px;
        font-size: 19px !important;
        line-height: 30px;
        letter-spacing: 1px;
    } */
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #productImage {

        width: 180px !important;

    }

    #productImage1 {

        width: 180px !important;

    }

    #productImage2 {

        width: 180px !important;

    }

    /* #grand_total {
      position: absolute;
      height: 53px;
      padding-top: 7px;
      font-size: 19px;
      font-weight: bold;
      padding-right: 59px;
      text-align: right;
    }
    #total-lable {
      position: relative;
      color: #fff;
      left: 6px;
      top: 12px;
      font-size: 19px !important;
      line-height: 30px;
      letter-spacing: 1px;
  } */
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* #grand_total {
      position: absolute;
      height: 53px;
      padding-top: 7px;
      font-size: 19px;
      font-weight: bold;
      padding-right: 59px;
      text-align: right;
    } */
    /* #total-lable {
      position: relative;
      color: #fff;
      left: 6px;
      top: 12px;
      font-size: 19px !important;
      line-height: 30px;
      letter-spacing: 1px;
  } */
    .total-left {

        width: 66%;

    }

    #productImage {

        width: 180px !important;

    }

    #productImage1 {

        width: 180px !important;

    }

    #productImage2 {

        width: 180px !important;

    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {}

@media only screen and (min-width: 1920px) {}

@media (min-width: 30em) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - 0.5em);
    }
}

.productPrice {
   display: inline-block !important;
   width: 75% !important;
}

/* @media only screen and (min-width: 768px) and (max-width: 1919px) {
   .productPrice {
      display: inline-block !important;
      width: 75% !important;
   }
}

@media only screen and (min-width: 230px) and (max-width: 767px) {
   .productPrice {
      display: block !important;
      width: 100% !important;
   }
} */